
/*For Desktops*/
@media only screen and (max-width: 980px) {

	div#top {
		width: 90%;
	}
	 
	h1 { 
		width: 30%;
	}

	#wrapper {
		width: 90%;
	}

	section#content {
		width: 65%;
	}

	#content p {
		line-height: 24px;
		clear: both;
	}

	#photo {
		width: 80%;
		margin: 0 32px 20px 32px;
	}

	section#connect {
		width: 33%;
	}

}

/*For tablets*/
@media only screen and (max-width: 768px) {
	div#top {
		width: 82%;
	}
	 
	h1 { 
		width: 30%;
	}

	#wrapper {
		width: 82%;
		margin: 45px auto 45px auto;
	}

	section#content {
		width: 100%;
		float: none;
	}

	#content p {
		line-height: 24px;
		clear: none;
	}

	#photo {
		width: 50%;
		margin: 0 32px 20px 32px;
	}

	section#connect {
		width: 100%;
		margin: 35px auto 45px auto;
		float: none;
	}

	#connect h3 {
		text-align: left;
	}

	div#logo {
		margin: 0 0 0 27px;
		justify-content: flex-start;
	}

}

@media only screen and (max-width: 640px) {
	div#top {
		width: 100%;
	}
	 
	h1 { 
		width: 100%;
	}

	#wrapper {
		width: 95%;
		margin: 45px auto 45px auto;
	}

	nav {
		width:100%;
		text-align: center;
		float: none;
		clear: both;
		padding: 10px 0 10px 0;
		border-bottom: solid #cccccc;
		background: #ffffff;
	}

	section#content {
		width: 100%;
		float: none;
	}

	#content p {
		line-height: 24px;
	}

	#photo {
		width: 60%;
		float: none;
		margin: 0 32px 20px 32px;
	}

	section#connect {
		width: 100%;
		margin: 35px auto 0 auto;
		float: none;
	}

	#connect h3 {
		text-align: left;
	}

	div#logo {
		margin: 0 0 0 27px;
		justify-content: left;
	}

	/*Styling for Portfolio content section*/
	div.image-set1 {
		margin: 0 32px 0 32px;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}

	div.image-set2 {
		margin: 0 32px 0 32px;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}

	div.image-set3 {
		margin: 0 32px 32px 32px;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}

	div.image {
	margin: 0 0 32px 0;
	}

	div.imageblank {
	width: 0;
	height: 0;
	margin: 0;
	}

}